doctype html
html.no-js
  head
    title Film
    link(rel='icon', type='image/png', href='./favicon.ico', sizes='16x16')
    // Bootstrap
    link(media='all', type='text/css', rel='stylesheet', href='assets/css/bootstrap.min.css')
    // Font-awsome
    link(media='all', type='text/css', rel='stylesheet', href='assets/css/font-awesome.min.css')
    // Bootstrap social
    link(media='all', type='text/css', rel='stylesheet', href='assets/css/bootstrap-social.css')
    // Alertify jquery plugin
    link(media='all', type='text/css', rel='stylesheet', href='assets/css/alertify.core.css')
    link(media='all', type='text/css', rel='stylesheet', href='assets/css/alertify.bootstrap.css')
    // Jbox
    link(media='all', type='text/css', rel='stylesheet', href='assets/css/jBox.css')
    link(media='all', type='text/css', rel='stylesheet', href='assets/css/ModalBorder.css')
    link(media='all', type='text/css', rel='stylesheet', href='assets/css/sign.css')
    // Main style
    link(media='all', type='text/css', rel='stylesheet', href='assets/css/style.css')
    link(media='all', type='text/css', rel='stylesheet', href='assets/css/metro.css')
    script(src='assets/js/jquery-1.11.1.min.js')
    script(type='text/javascript').
      var cURL = {
      'base': 'https://www.studyphim.vn',
      'current': 'https://www.studyphim.vn/movies/sherlock-season-1/play',
      'previous': 'https://www.studyphim.vn/movies/sherlock-season-1?episode=2',
      'full': 'https://www.studyphim.vn/movies/sherlock-season-1/play?episode=2'
      };
  body
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid.container-nav
        .navbar-center.navbar-brand
          a(href='./')
            img.logo(src='./assets/img/logo.jpg', style='text-align: center;height: 48px; width: auto; margin-top: 2px;')
    .page-header
      .container-fluid
        .row.main-player-wrapper
          .col-md-9
            .mediaplayer
              video#video(controls='controls', preload='none', width='100%', height='100%')
                source(src='')
                input#vi(value='')
                input#en(value='')
          #subtitles-sidebar.col-md-3
            #subtitles-container.show-sub
            #subtitles-overlay.hide-overlay
              .overlay-inner
                h4
                  i.fa.fa-headphones.fa-lg.text-danger
                  |  Bạn đang ở chế độ luyện nghe
                p
                  | Hãy tập trung luyện nghe 
                  br
                  | bằng cách xem phim không phụ đề.
                  br
                  br
                  em
                    | Khi gặp khó khăn hãy bấm dừng lại 
                    br
                    | hoặc phím tắt 
                    kbd space
                    |  trên bàn phím 
                    br
                    | để hiển thị đoạn hội thoại không nghe được
                p.text-left
                  i.fa.fa-book.fa-5x.pull-left
                  |  Ghi chép lại những từ hoặc câu bạn không nghe được và tiếp tục luyện nghe tiếp
                .clearfix
                p: a(href='https://www.studyphim.vn/methods#luyen-nghe') [Hướng dẫn]
    script(type='text/javascript').
      function removePop() {
      $(".mediaplayer .overlay").css('zIndex', -1);
      }
      function getUrlVars() {
      var vars = [],
      hash;
      var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
      for (var i = 0; i < hashes.length; i++) {
      hash = hashes[i].split('=');
      vars.push(hash[0]);
      vars[hash[0]] = hash[1];
      }
      return vars;
      }
      $(function() {
      var queries = getUrlVars();
      var folderName = 'movies/';
      var noViSub = folderName + queries['noViSub'];
      var noEnSub = folderName + queries['noEnSub'];
      var movieFile = folderName + queries['name'];
      var movieName = window.decodeURIComponent(queries['screenName']);
      var movieType = queries['type'] ? window.decodeURIComponent(queries['type']) : 'mp4';
      $('#video').attr('src', movieFile + '.' + movieType);
            
      console.log('noViSub', noViSub);
      if (noEnSub) {
        $('body').addClass('no-sub');
        $('#vi').attr('value', '/studyphim-alike/movies/empty.srt');
        $('#en').attr('value', '/studyphim-alike/movies/empty.srt');
      } else if (noViSub) {
        $('body').addClass('no-vi-sub');
        $('#vi').attr('value', '/studyphim-alike/' + movieFile + '.srt');
        $('#en').attr('value', '/studyphim-alike/' + movieFile + '.srt');
      } else {
        $('#vi').attr('value', '/studyphim-alike/' + movieFile + '-vi.srt');
        $('#en').attr('value', '/studyphim-alike/' + movieFile + '.srt');
      }
      document.title = movieName;
      $('#mainTitle').text(movieName);
      });
    .container-fluid
      .row
        #main
          .col-md-8
            .mediaplayer-toolbox
              .row
                .col-md-3
                  label.btn.btn-danger.btn-block(data-toggle='popover', data-container='body', data-placement='top', data-trigger='hover', data-content='Tick vào để chuyển qua chế độ luyện nghe')
                    input#hideSub(type='checkbox')
                    |  Luyện nghe
                .col-md-3.col-md-offset-4
                  .input-group(data-toggle='popover', data-container='body', data-placement='top', data-trigger='hover', data-content="Bấm lùi lại để nghe lại đoạn hội thoại trước đó. Phím tắt 'Tab'")
                    span.input-group-btn
                      button#undo.btn.btn-default Lùi lại
                    input#undoValue.form-control.text-center(type='text', placeholder='giây', value='15', required='')
                    // <span class="input-group-btn"><button class="btn btn-default" id="redo">Tiến tới</button></span>
                .col-md-2
                  .input-group.speed-controller(data-toggle='popover', data-container='body', data-placement='right', data-trigger='hover', data-content='Tùy chỉnh tốc độ nếu nhân vật nói quá nhanh')
                    span.input-group-btn
                      button.btn.btn-default.speed-decrease(type='button')
                        i.fa.fa-minus(style='color:red')
                    span.input-group-addon.speed-value  1.0 
                    span.input-group-btn
                      button.btn.btn-default.speed-increase(type='button')
                        i.fa.fa-plus(style='color:green')
          .col-md-4
            h3#mainTitle.text-danger
      script(src='assets/js/bootstrap.min.js')
      script(src='assets/js/jquery.number.min.js')
      script(src='assets/js/alertify.min.js')
      script(src='assets/js/jquery.ba-bbq.min.js')
      script(src='assets/js/bootbox.js')
      script(src='assets/js/jBox.min.js')
      script(src='assets/js/main.js')
      // Libraries
      script(src='assets/js/jquery.scrollIntoView.min.js')
      script(src='assets/js/webshims/polyfiller.js')
      script(src='assets/js/jquery.hotkeys.js')
      script(src='assets/js/jquery.twbsPagination.min.js')
      // Custom JS
      script(src='assets/js/movies.play.js')
      script(src='assets/js/webshims.js')
      // <script src="assets/js/track.js"></script>
      // <script src="assets/js/comments.js"></script>
      script(src='assets/js/bootbox.js')
      script(src='assets/js/gibberish-aes-1.0.0.js')
      script(type='text/javascript').
        $(document).ready(function() {
        $(function() {
        $('[data-toggle="popover"]').popover();
        });
        $(function() {
        $('[data-toggle="tooltip"]').tooltip();
        });
        });
      script.
        // if (jQuery.webshims && window.Modernizr) {
        //   jQuery.webshims.polyfill('mediaelement track');
        // }
