include mixins/mixins.pug

html
  head
    meta(name='viewport', content='width=device-width, minimum-scale=0.1')
    link(rel='icon', type='image/png', href='./favicon.ico', sizes='16x16')
    title Film List
    link(href='./master-assets/bootstrap.min.css', rel='stylesheet')
    link(href='./master-assets/style.css', rel='stylesheet')
    script(type='text/javascript', src='./master-assets/jquery-3.3.1.min.js')
    script(type='text/javascript', src='./master-assets/lodash.min.js')
  body.home-index
    h1.main-title Film List
    .group-block
      h2.group-title One-shot
      .content
        ul.list
          +item('Doctor-Strange/Doctor-Strange', 'Doctor Strange')
          +item('One-shot/Before-I-fall', 'Before I fall')
          +item('One-shot/The-Fifth-Estate', 'The Fifth Estate')
          +item('One-shot/The-Imitation-Game', 'The Imitation Game')
          +item('One-shot/Arthur-Christmas', 'Arthur Christmas', true)
          +item('One-shot/Joy (2015)', 'Joy (2015)')
          +item('One-shot/Jackie (2016)', 'Jackie (2016)')
          +item('One-shot/Steve Jobs The Man in the Machine (2015)', 'Steve Jobs The Man in the Machine (2015)')
          +item('One-shot/The Invisible Woman (2013)', 'The Invisible Woman (2013)')
      h2.group-title Sherlock Holmes
      .content
        +listHeading('Season 01')
        ul.list
          +item('Sherlock-Holmes/Season-01/Sherlock.1x01', '01 - A Study in Pink')
          +item('Sherlock-Holmes/Season-01/Sherlock.1x02.The.Blind.Banker', '02 - The Blind Banker')
          +item('Sherlock-Holmes/Season-01/Sherlock.1x03.The.Great.Game', '03 - The Great Game')
        +listHeading('Season 02')
        ul.list
          +item('Sherlock-Holmes/Season-02/Sherlock.2x01', '01 - A Scandal in Belgravia')
          +item('Sherlock-Holmes/Season-02/Sherlock.2x02', '02 - The Hounds of Baskerville')
          +item('Sherlock-Holmes/Season-02/Sherlock.2x03', '03 - The Reichenbach Fall')
        +listHeading('Season 03')
        ul.list
          +item('Sherlock-Holmes/Season-03/Sherlock.3x01', '01 - The Empty Hearse')
          +item('Sherlock-Holmes/Season-03/Sherlock.3x02', '02 - The Sign of Three')
          +item('Sherlock-Holmes/Season-03/Sherlock.3x03', '03 - His Last Vow')
          //- 4. The Abominable Bride
          //- S04 - 1. The Six Thatchers
          //- S04 - 2. The Lying Detective
          //- S04 - 3. The Final Problem

      h2.group-title Harry Potter
      .content
        ul.list
          +item('One-shot/E01 - Harry Potter and the Sorcerers Stone (2001)', 'E01 - Harry Potter and the Sorcerers Stone (2001)')
          +item('One-shot/E02 - Harry Potter and the Chamber of Secrets (2002)', 'E02 - Harry Potter and the Chamber of Secrets (2002)')
          +item('One-shot/E03 - Harry Potter and the Prisoner of Azkaban (2004)', 'E03 - Harry Potter and the Prisoner of Azkaban (2004)')
          +item('One-shot/E04 - Harry Potter and the Goblet of Fire (2005)', 'E04 - Harry Potter and the Goblet of Fire (2005)')
          +item('One-shot/E05 - Harry Potter and the Order of the Phoenix (2007)', 'E05 - Harry Potter and the Order of the Phoenix (2007)')
          +item('One-shot/E06 - Harry Potter and the Half Blood Prince (2009)', 'E06 - Harry Potter and the Half Blood Prince (2009)')
          +item('One-shot/E07 - Harry Potter and the Deathly Hallows Part 1 (2010)', 'E07 - Harry Potter and the Deathly Hallows Part 1 (2010)')
          +item('One-shot/E08 - Harry Potter and the Deathly Hallows Part 2 (2011)', 'E08 - Harry Potter and the Deathly Hallows Part 2 (2011)')
      h2.group-title Continuum
      .content
        +listHeading('Season 04')
        ul.list
          - Continuum = 0;
          while (Continuum < 6)
            - Continuum++
            +item('Continuum/Season-04/Continuum.S04E0' + Continuum, 'Continuum Season 4 - 0' + Continuum)
      h2.group-title Timeless
      .content
        +listHeading('Season 01')
        ul.list
          - timeless = 0;
          while (timeless < 16)
            - timeless++
            +item('Timeless/Season-01/' + (timeless < 10 ? '0' : '') + timeless, 'Timeless Season 01 - ' + (timeless < 10 ? '0' : '') + timeless)

      h2.group-title Mission Impossible
      .content
        ul.list
          +item('One-shot/Fallout (2018)', 'Fallout (2018)')
    script(type='text/javascript', src='./master-assets/popper.min.js')
    script(type='text/javascript', src='./master-assets/bootstrap.min.js')
    script(defer='', src='./master-assets/script.js')
