include mixins/mixins

- counter = 1;

html
  head
    meta(name='viewport', content='width=device-width, minimum-scale=0.1')
    link(rel='icon', type='image/png', href='./favicon.ico', sizes='16x16')
    title Film List
    link(href='./master-assets/bootstrap.min.css', rel='stylesheet')
    link(href='./master-assets/style.css', rel='stylesheet')
    script(type='text/javascript', src='./master-assets/jquery-3.3.1.min.js')
    script(type='text/javascript', src='./master-assets/lodash.min.js')
  body.home-index
    h1.main-title Film List
    .group-block
      +groupTitle('Spoken English - Oxford Online English')
      include blocks/oxford-online-english

      +groupTitle('GiGi Stories')
      include blocks/gigi-story

      +groupTitle('One-shot')
      include blocks/one-shot

      include blocks/another-list


      +groupTitle('Mission Impossible')
      .content
        ul.list
          +item('One-shot/Fallout (2018)', 'Fallout (2018)', "https://www.studyphim.vn/system/movies/3337/thumbnails/medium/thumbnail.jpg")
    script(type='text/javascript', src='./master-assets/popper.min.js')
    script(type='text/javascript', src='./master-assets/bootstrap.min.js')
    script(defer='', src='./master-assets/script.js')
