include ../mixins/mixins

-
    contentList = [
      [
        ["GIGI-story/Fairy Tales with GiGi Stories/01. A day with GiGi and Hamster", "01. A day with GiGi and Hamster"],
        ["GIGI-story/Fairy Tales with GiGi Stories/02. Little Mermaid", "02. Little Mermaid"],
        ["GIGI-story/Fairy Tales with GiGi Stories/03. A Christmas Carol", "03. A Christmas Carol"],
        ["GIGI-story/Fairy Tales with GiGi Stories/04. Hansel and Gretel", "04. Hansel and Gretel"],
        ["GIGI-story/Fairy Tales with GiGi Stories/05. The Bremen Town Musicians", "05. The Bremen Town Musicians"],
        ["GIGI-story/Fairy Tales with GiGi Stories/06. Rumpelstiltskin", "06. Rumpelstiltskin"],
        ["GIGI-story/Fairy Tales with GiGi Stories/07. Snow White and Rose Red", "07. Snow White and Rose Red"],
        ["GIGI-story/Fairy Tales with GiGi Stories/08. Jack and the Beanstalk", "08. Jack and the Beanstalk"],
        ["GIGI-story/Fairy Tales with GiGi Stories/09. Snow White", "09. Snow White"],
        ["GIGI-story/Fairy Tales with GiGi Stories/10. Cinderella", "10. Cinderella"],
        ["GIGI-story/Fairy Tales with GiGi Stories/11. Chicken Little", "11. Chicken Little"],
        ["GIGI-story/Fairy Tales with GiGi Stories/12. The Gingerbread Man", "12. The Gingerbread Man"],
        ["GIGI-story/Fairy Tales with GiGi Stories/13. The Ugly Duckling", "13. The Ugly Duckling"],
        ["GIGI-story/Fairy Tales with GiGi Stories/14. The Ant and the Grasshopper", "14. The Ant and the Grasshopper"],
        ["GIGI-story/Fairy Tales with GiGi Stories/15. The City Mouse and the Country Mouse", "15. The City Mouse and the Country Mouse"],
        ["GIGI-story/Fairy Tales with GiGi Stories/16. Alice in Wonderland", "16. Alice in Wonderland"],
        ["GIGI-story/Fairy Tales with GiGi Stories/17. Goldilocks and the Three Bears", "17. Goldilocks and the Three Bears"],
        ["GIGI-story/Fairy Tales with GiGi Stories/18. Little Red Riding Hood", "18. Little Red Riding Hood"],
        ["GIGI-story/Fairy Tales with GiGi Stories/19. Rapunzel", "19. Rapunzel"],
        ["GIGI-story/Fairy Tales with GiGi Stories/20. Beauty and the Beast", "20. Beauty and the Beast"],
        ["GIGI-story/Fairy Tales with GiGi Stories/21. The Night Before Christmas", "21. The Night Before Christmas"],
        ["GIGI-story/Fairy Tales with GiGi Stories/22. Sleeping beauty", "22. Sleeping beauty"],
        ["GIGI-story/Fairy Tales with GiGi Stories/23. The Snow Man", "23. The Snow Man"]
      ],
      [
        ["GIGI-story/Aesop's fables for children/01. The Ant and the Grasshopper", "01. The Ant and the Grasshopper"],
        ["GIGI-story/Aesop's fables for children/02. The Mouse and the Lion", "02. The Mouse and the Lion"],
        ["GIGI-story/Aesop's fables for children/03. The Wolf and the Crane", "03. The Wolf and the Crane"],
        ["GIGI-story/Aesop's fables for children/04. The Boy who cried Wolf", "04. The Boy who cried Wolf"],
        ["GIGI-story/Aesop's fables for children/05. The Fox and the Crow", "05. The Fox and the Crow"],
        ["GIGI-story/Aesop's fables for children/06. The Fox and The Grapes", "06. The Fox and The Grapes"],
        ["GIGI-story/Aesop's fables for children/07. The Fox and the Stork", "07. The Fox and the Stork"],
        ["GIGI-story/Aesop's fables for children/08. The Fox and His Tail", "08. The Fox and His Tail"],
        ["GIGI-story/Aesop's fables for children/09. The Tortoise and the Hare", "09. The Tortoise and the Hare"],
        ["GIGI-story/Aesop's fables for children/10. The Ant and the Dove", "10. The Ant and the Dove"]
      ],
      [
        ["GIGI-story/Andersen's fairy tales/1. Little Mermaid", "1. Little Mermaid"],
        ["GIGI-story/Andersen's fairy tales/2. The Ugly Duckling", "2. The Ugly Duckling"],
        ["GIGI-story/Andersen's fairy tales/3. The Snow Queen", "3. The Snow Queen"],
        ["GIGI-story/Andersen's fairy tales/4. The Princess and the Pea", "4. The Princess and the Pea"],
        ["GIGI-story/Andersen's fairy tales/5. The Emperor's New Clothes", "5. The Emperor's New Clothes"],
        ["GIGI-story/Andersen's fairy tales/6. The Tin Soldier", "6. The Tin Soldier"]
      ],
      [
        ["GIGI-story/Fairytales and Fables/01. The Wolf and the Crane", "01. The Wolf and the Crane"],
        ["GIGI-story/Fairytales and Fables/02. The Fox and the Stork", "02. The Fox and the Stork"],
        ["GIGI-story/Fairytales and Fables/03. The Princess and the Pea", "03. The Princess and the Pea"],
        ["GIGI-story/Fairytales and Fables/04. The Mouse and the Lion", "04. The Mouse and the Lion"],
        ["GIGI-story/Fairytales and Fables/05. Clever Gretel", "05. Clever Gretel"],
        ["GIGI-story/Fairytales and Fables/06. The King and His Daughters", "06. The King and His Daughters"],
        ["GIGI-story/Fairytales and Fables/07. The Ant and the Dove", "07. The Ant and the Dove"],
        ["GIGI-story/Fairytales and Fables/08. The Elves and the Shoemaker", "08. The Elves and the Shoemaker"],
        ["GIGI-story/Fairytales and Fables/09. The Fox and His Tail", "09. The Fox and His Tail"],
        ["GIGI-story/Fairytales and Fables/10. The Friendly Raccoon", "10. The Friendly Raccoon"],
        ["GIGI-story/Fairytales and Fables/11. The Boy who cried Wolf", "11. The Boy who cried Wolf"],
        ["GIGI-story/Fairytales and Fables/12. The Tortoise and the Hare", "12. The Tortoise and the Hare"],
        ["GIGI-story/Fairytales and Fables/13. The Bear and the Boys", "13. The Bear and the Boys"],
        ["GIGI-story/Fairytales and Fables/14. The Fox and the Crow", "14. The Fox and the Crow"],
        ["GIGI-story/Fairytales and Fables/15. The Nutcracker and the Mouse King", "15. The Nutcracker and the Mouse King"],
        ["GIGI-story/Fairytales and Fables/16. The Tin Soldier", "16. The Tin Soldier"],
        ["GIGI-story/Fairytales and Fables/17. The Emperor's New Clothes", "17. The Emperor's New Clothes"],
        ["GIGI-story/Fairytales and Fables/18. Aladdin and the Magic Lamp", "18. Aladdin and the Magic Lamp"],
        ["GIGI-story/Fairytales and Fables/19. The Fox and The Grapes", "19. The Fox and The Grapes"],
        ["GIGI-story/Fairytales and Fables/20. The Golden Goose", "20. The Golden Goose"],
        ["GIGI-story/Fairytales and Fables/21. Tom Thumb", "21. Tom Thumb"],
        ["GIGI-story/Fairytales and Fables/22. The Snow Queen", "22. The Snow Queen"],
        ["GIGI-story/Fairytales and Fables/23. The Frog Prince", "23. The Frog Prince"],
        ["GIGI-story/Fairytales and Fables/24. The Three Little Pigs", "24. The Three Little Pigs"],
        ["GIGI-story/Fairytales and Fables/25. Puss in Boots", "25. Puss in Boots"]
      ]
    ];

.content
  .group-cover: img(src="covers/gigi-stories.png")
  +listHeading("Fairy Tales with GiGi Stories")
  ul.list.align-left
    +contentList(contentList[0], null, true, true, true)
  +listHeading("Aesop's fables for children")
  ul.list.align-left
   +contentList(contentList[1], null, true, true, true)
  +listHeading("GIGI-story/Andersen's fairy tales")
  ul.list.align-left
   +contentList(contentList[2], null, true, true, true)
  +listHeading("GIGI-story/Fairytales and Fables")
  ul.list.align-left
   +contentList(contentList[3], null, true, true, true)
  //- +listHeading("GIGI-story/Folk tales")
  //- ul.list.align-left
  //-  +contentList(contentList[1], null, true, true, true)
  //- +listHeading("GIGI-story/Grimm's fairy tales")
  //- ul.list.align-left
  //-  +contentList(contentList[1], null, true, true, true)