include ../mixins/mixins

.content
  ul.list
    +item('Doctor-Strange/Doctor-Strange', 'Doctor Strange', 'https://www.studyphim.vn/system/movies/2191/thumbnails/medium/GOTT.png')
    +item('One-shot/Before-I-fall', 'Before I fall', 'https://www.studyphim.vn/system/movies/2310/thumbnails/medium/GOTT.png')
    +item('One-shot/The-Fifth-Estate', 'The Fifth Estate', 'https://www.studyphim.vn/system/movies/987/thumbnails/medium/1.jpg')
    +item('One-shot/The-Imitation-Game', 'The Imitation Game', 'https://www.studyphim.vn/system/movies/713/thumbnails/medium/1.jpg')
    +item('One-shot/Arthur-Christmas', 'Arthur Christmas', 'https://www.studyphim.vn/system/movies/351/thumbnails/medium/zktwFpijrCms7sskAqhwZdS822d.jpg')
    +item('One-shot/Joy (2015)', 'Joy (2015)', 'https://www.studyphim.vn/system/movies/1927/thumbnails/medium/dGcyU5Uhk49rVtpuHKVIwtMAOiP.jpg')
    +item('One-shot/Jackie (2016)', 'Jackie (2016)', 'https://www.studyphim.vn/system/movies/2242/thumbnails/medium/GOTT.png')
    +item('One-shot/Steve Jobs The Man in the Machine (2015)', 'Steve Jobs The Man in the Machine (2015)', 'https://www.studyphim.vn/system/movies/1604/thumbnails/medium/1.jpg')
    +item('One-shot/The Invisible Woman (2013)', 'The Invisible Woman (2013)', 'https://www.studyphim.vn/system/movies/2419/thumbnails/medium/GOTT.png')