mixin item(url, screenName, className)
  li(class=className): p: a(href='./film.html?name=' + url + '&screenName=' + screenName)!=screenName

mixin listHeading(name)
  .list-heading: h3.list-title!=name