mixin item(url, screenName, noviSub, type = 'mp4')
  li.full: p: a(href='./film.html?name=' + url + '&screenName=' + screenName + '&type=' + type + '&noviSub=' + noviSub)!=screenName

mixin listHeading(name)
  .list-heading: h3.list-title!=name