mixin item(url, screenName, noviSub, type)
  - url = './film.html?name=' + url + '&screenName=' + screenName
  - if (type) url += '&type=' + type
  - if (noviSub) url += '&noviSub=' + noviSub
  li.full: p: a(href=url)!=screenName

mixin listHeading(name)
  .list-heading: h3.list-title!=name