body {
  max-width: 850px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto 50px;
  font-size: 18px;
}

.main-title {
  margin: 20px 0 30px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.group-title {
  margin: 20px 0 30px;
  font-size: 25px;
  font-weight: bold;
  padding: 8px 10px;
  background: #eee;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.group-title.active {
  background: #495057;
  color: #fff;
}

.content {
  display: none;
}

.group-title.active+.content {
  display: block;
}

.list-heading {
  margin-bottom: 30px;
}

.list-title {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 0;
  font-size: 22px;
  font-weight: bold;
}

.list-title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  border: 3px groove #eee;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px dotted #eee;
}

.list:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.list li {
  width: 50%;
  float: left;
  margin-bottom: 10px;
}

.list li.full {
  width: 100%;
  margin: 20px 0;
}

.list p {
  font-weight: 600;
  margin-bottom: 0;
}

a,
a:hover,
a:visited {
  color: #000;
}


@media screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }

  .main-title {
    font-size: 25px;
  }

  .group-title {
    font-size: 16px;
    margin: 15px 0 25px;
  }
}

@media screen and (max-width: 560px) {
  body {
    font-size: 14px;
  }

  .list-title {
    font-size: 16px;
  }

  .list-heading {
    margin-bottom: 20px;
  }

  .list li {
    width: 100%;
  }
}